<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cool People</title>
</head>

<body>
    <h1>Welcome to the cool club, {{ name }}!</h1>
    <p><a href="/">Home</a></p>
    <br>
    <p>Access token: <span id="access_token"></span></p>
    <form id="generate_new_token_form">
        <input type="submit" value="Renew Access Token">
    </form>
    <p><a href="https://github.com/code12x">My github!</a></p>

    <script src="/static/scripts/authorization.js"></script>
    <script>
        document.getElementById("access_token").innerHTML = localStorage.getItem("access_token");
        let renew_access_token_form = document.getElementById("generate_new_token_form");
        renew_access_token_form.addEventListener('submit', e => {
            e.preventDefault();
            renew_access_token();
            document.getElementById("access_token").innerHTML = localStorage.getItem("access_token");
        });
    </script>
</body>

</html>