<style>
    .form-group {
        display: inline-block;
        margin: 0 auto;
    }
</style>

{% extends 'header.html' %}
{% block title %}
| Create Test
{% endblock %}
{% block body %}
<form action="/create/test" method="POST">
    <div class="form-group">
        <div>
            <label for="name">Name of test:</label>
            <input type="text" name="name" id="name" maxlength="40">
        </div>
        <div>
            <label for="q1">Question 1:</label>
            <input name="q1" id="q1" type="text" maxlength="255">
        </div>
        <br>
        <div>
            <label for="q2">Question 2:</label>
            <input name="q2" id="q2" type="text" maxlength="255">
        </div>
        <br>
        <div>
            <label for="q3">Question 3:</label>
            <input name="q3" id="q3" type="text" maxlength="255">
        </div>
        <br>
        <input type="submit" value="Create Test">
    </div>
</form>
{% endblock %}