<style>
    .form-group {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
</style>

{% extends 'header.html' %}
{% block title %}
| Create Test
{% endblock %}
{% block body %}
<div class="form-group">
    <form action="/{% if test %}update/test/{{ test.test_id }}{% else %}create/test{% endif %}" method="POST">
        <div>
            <label for="name">Name of test:</label>
            <input type="text" name="name" id="name" maxlength="40" value="{{ test.test_name }}">

        </div>
        <br>
        <div>
            <label for="q1">Question 1:</label>
            <input name="q1" id="q1" type="text" maxlength="255" value="{{ q1.question }}">
        </div>
        <div>
            <label for="a1">Answer 1:</label>
            <input type="text" name="a1" id="a1" maxlength="255" value="{{ q1.answer }}">
        </div>
        <br>
        <div>
            <label for="q2">Question 2:</label>
            <input name="q2" id="q2" type="text" maxlength="255" value="{{ q2.question }}">
        </div>
        <div>
            <label for="a2">Answer 2:</label>
            <input type="text" name="a2" id="a2" maxlength="255" value="{{ q2.answer }}">
        </div>
        <br>
        <div>
            <label for="q3">Question 3:</label>
            <input name="q3" id="q3" type="text" maxlength="255" value="{{ q3.question }}">
        </div>
        <div>
            <label for="a1">Answer 3:</label>
            <input type="text" name="a3" id="a3" maxlength="255" value="{{ q3.answer }}">
        </div>
        <br>
        <input type="submit" value="{{ 'Update' if test else 'Create Test' }}">
    </form>
    <br>
    {% if test %}
    <form action="/delete/test/{{ test.test_id }}" method="POST">
        <input type="submit" value="Delete">
    </form>
</div>
{% endif %}
{% endblock %}