<style>
    .sign-up-message {
        text-align: center;
    }

    form {
        width: 100%;
    }

    .form-group {
        width: fit-content;
        margin: 0 auto;
    }

    .register-btn {
        border: none;
        padding: 5px;
        background-color: lightgray;
        border-radius: 5px;
    }

    .register-btn:hover {
        background-color: darkgray;
    }
</style>

{% extends "header.html" %}
{% block title %} | Login{% endblock %}
{% block body %}
<h2 class="sign-up-message">Login</h2>
<form method="POST">
    <div class="form-group">
        <div>
            <label for="email">Email:</label>
            <input type="email" placeholder="Email" name="email" id="email">
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" placeholder="Password" name="password" id="passwrod">
        </div>
        <br>
        <div class="flex-between">
            <input type="submit" value="Login" class="register-btn">
            <a href="/register">register</a>
        </div>
    </div>
</form>
{% endblock %}