<style>
    .user {
        width: fit-content;
        margin: 5px;
        padding: 10px;
        background-color: gray;
        border-radius: 5px;
    }
</style>

{% extends "header.html" %}
{% block title %}
| Users
{% endblock %}
{% block body %}
<div style="margin-left:5px;">
    <p>Filter: <a href="/users">All</a> <a href="/users/teachers">Teachers</a> <a href="/users/students">Student</a></p>
</div>
<br>
{% for user in users %}
{% with status = 'Teacher' if user.is_teacher else 'Student' %}
<div class="user {{ status }}">
    <h2>{{ user.username }}</h2>
    <h3>Status: {{ status }}</h3>
</div>
{% endwith %}
{% endfor %}
{% endblock %}